<!DOCTYPE html>
<html>
<head>
  <title>Festivals App</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <nav>
    <h5><li><%= link_to('FESTIVALS', festivals_path) %></li></h5>
    <h5><li><%= link_to('NEW FESTIVAL', new_festival_path) %></li></h5>
  </nav>
</header>

<%= yield %>

</body>
</html>
