<!DOCTYPE html>
<html>
<head>
  <title>Festivals App</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <nav>
    <li><%= link_to('Festivals', festivals_path) %></li>
    <li><%= link_to('New Festival', new_festival_path) %></li>
  </nav>
</header>

<%= yield %>

</body>
</html>
